dist
node_modules
coverage
packages/user-interface/build
apps/frontend/build
apps/electron/frontend/build
apps/mobile/frontend/build
apps/frontend/playwright-report
aux/testbed/build
packages/database/build
deprecated/upload/build
packages/exif-js/build
packages/defs/build
deprecated/upload/log
.turbo
deprecated/backup/build
packages/storage/build
deprecated/backup/backup
deprecated/backup/log
deprecated/database/log/
deprecated/database/build/
packages/utils/build/
packages/node-utils/build/
deprecated/database/storage-test
/deprecated/find-orphans/build/
# Vite
.vite/
# Local Netlify folder
.netlify
tsconfig.tsbuildinfo
apps/cli/psi
apps/cli/bin/
apps/mk-cli/bin/
# apps/cli/test/db
tools/upload/log.*
apps/cli/test-db
.photosphere.json
.photosphere
packages/tools/build/
apps/cli/test/test-db-replica/
apps/cli/keys
packages/serialization/build/
packages/adb/src/test/perf/results/
tmp/
