backend/uploads/**
backend/files/**
dist
node_modules
coverage
packages/user-interface/build
frontend/build
electron/frontend/build
backend/build
mobile/frontend/build
frontend/playwright-report
electron/tmp
testbed/build
packages/database/build
tools/upload/build
packages/exif-js/build
packages/defs/build
tools/upload/log
.turbo
tools/backup/build
packages/storage/build
tools/backup/backup
tools/backup/log
tools/database/log/
tools/database/build/
packages/utils/build/
packages/node-utils/build/
tools/database/storage-test
/tools/find-orphans/build/
backend/key
