apps/backend/uploads/**
apps/backend/files/**
dist
node_modules
coverage
packages/user-interface/build
frontend/build
electron/frontend/build
backend/build
mobile/frontend/build
frontend/playwright-report
electron/tmp
testbed/build
packages/database/build
deprecated/upload/build
packages/exif-js/build
packages/defs/build
deprecated/upload/log
.turbo
deprecated/backup/build
packages/storage/build
deprecated/backup/backup
deprecated/backup/log
deprecated/database/log/
deprecated/database/build/
packages/utils/build/
packages/node-utils/build/
deprecated/database/storage-test
/deprecated/find-orphans/build/
backend/key
# Vite
.vite/
# Local Netlify folder
.netlify
tsconfig.tsbuildinfo
apps/cli/psi
apps/cli/pfe.zip
apps/cli/bin/
frontend/pfe.zip
